*, *::before, *::after {
    box-sizing: border-box;
}
:root {
    --primary-color: #161716;
    --secondary-color: #a3a2a2;
    --text-color: #fefffe;
    --font-size: 16px;
    --font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body {
    background-color: var(--primary-color);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--text-color);
    font-size: var(--font-size);
    line-height: 1.6;
}
.navbar {
    background-color: var(--primary-color);
    padding: 1em;
    align-items: left;
    .logo img,
img.logo {
    width: 65px;
    height: auto;
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
}
nav{
    display: flex;
    gap: 2em;
    a {
        color: var(--secondary-color);
        text-decoration: none;
        margin: -0.3em;
        font-size: 1.1em;
        transition: color 0.3s ease;
        &:hover {
            color: var(--text-color);
        }
    }
}
}
.navbar .container {
    display: flex;
    align-items: center;
    justify-content:space-between;
    max-width: 800px;
    margin: 0 auto;
    padding: 0;
}
.primary-nav {
    display: flex;
    gap: 2em;
    list-style: none;
    margin: 0;
    padding: 0;
}
.hero {
    text-align: left;
    padding: 0;
    background-color: var(--primary-color);
    color: var(--text-color);
    

    .hero-content {
    max-width: 800px;
    margin:0 auto;
    width: 100%;
    text-align: left;
    display:block
    }
    h1 {
        font-size: 9em;
        line-height: 1.3em;
        margin: auto;
        font-weight: bold;
    }
    .subhead{
        color: var(--secondary-color);
        font-size: 1.2em;
        margin: -0em;
        padding: 0;
        font-weight: 400;
        max-width: 680px;
    }
}

.content ul li a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
    width: 100%;
}
    
.content{
    text-align: left;
    padding: 2em 0;
    margin: 26px auto;
    width: 100%;
    max-width: 780px;
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        gap: .1em;
        font-size:x-large;
        width: 100%;
    }
    li{
        border-bottom: 1px solid var(--text-color);
        border-color: var(--secondary-color);
        padding: .5em
    };
    a,
a:visited,
a:active {
    color: var(--text-color);
    text-decoration: none;
}
.article-date {
    color: var(--secondary-color); 
    background: var(--primary-color);;
    padding: 0.1em 0.5em;
    border-radius: 6px;
    font-size: 0.8em;
    &:hover {
        color: var(--text-color);
        background: var(--primary-color);
        padding: 0.1em 0.5em;
        border-radius: 6px;
    }
}
}
.socials{
    margin-bottom: 1em;
}
a:hover .article-date,
a:focus .article-date {
    color: var(--text-color);
    background: var(--primary-color);
    padding: 0.1em 0.5em;
    border-radius: 6px;
}
.footer{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    text-align: center;
    padding: 2em 0;
    margin-top: 2em;
    font-size: 1.2em;
    }